.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
}

[alt="Imagen de neon"]{ 
  width: 30%;
  height: 100vh;
   margin-left: 10%; 
 

}
[alt="blur"]{
  width: 30%;
  height: 100vh;
  margin-left: -30%;
  margin-right: 100px;
}

.form-Container{
  margin-top: -120px;
}
.input-Container{
  display: flex;
  justify-content: space-evenly;
}
.mainTitle{
  margin-left: 150px;
}